<div [@liked]="votedCurrentState" id="vote" >

    <span style="color: honeydew;">Like that website </span> <br>
    <input type="image" id="like"  (click)="vote('like')" src="https://img.icons8.com/dusk/64/000000/thumb-up.png"/>
    <span id="or"> OR </span>
    <input type="image" id="dislike" (click)="vote('dislike')" src="https://img.icons8.com/dusk/64/000000/thumbs-down.png"/>
    
    <br>
</div>

<div [@thanks]=thanksCurrentState id="thanks">
    <span style="color: honeydew;">Thanks</span>
    <br>
    <img src="https://img.icons8.com/color/48/000000/thank-you.png"/>
</div>