


  #like{
    height: 40px;
    width: 40px;
  }

  #like:hover{
    transform: scale(1.1);
   
  }

  #dislike{
    position: relative;
    top: 10px;
    height: 40px;
    width: 40px;
  }

  #dislike:hover{
    transform: scale(1.1);
   
  }

  #or {
    position: relative;
    bottom: 12px;
    font-size: large;
    color: lightgray;
  }


  #vote{
    position: absolute;
    left:2px;
    bottom:2px;
  }

  

  #thanks{
    position: absolute;
    left:38px;
    bottom:2px;
  }