
#card {
    border-radius: 25px;
}

#body{
    color: black;
    height: 460px;
}


  
.mat-tab-label {
    min-width: 5px !important;
    padding: 2px;
    color: gray;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 10px !important;
    padding: 2px;
    color: black;
    font-weight: 700;
}

img{
    padding-left: 1px;
    width: 60px;
    height: 80px;
}

