#hello{
  text-align: center;
  color: #F8F8FF;  
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 350px;
  left: 200px;
}

#iconlink{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#icon{
  height: 80px;
  width: 80px;
}

#rotate{
  transform: rotate(180deg);
  position: relative;
  top: 15px;
}

#vote{
  position: absolute;
  bottom: 10px;
  left: 50%;
  text-align: center;
  margin-bottom: 20px;
}