<app-navbar></app-navbar>
<div id="hello">
        Hello! 
        I am Alexander, <br>
        Full Stack Developer <br>
        <img  id="icon" src="https://img.icons8.com/color/96/000000/spring-logo.png">
        <img  id="icon" src="https://img.icons8.com/color/96/000000/java-coffee-cup-logo.png"/>
        <img  id="icon" src="https://img.icons8.com/color/96/000000/angularjs.png"/>
        <img  id="icon" src="https://img.icons8.com/color/96/000000/docker.png"/>
        <img  id="icon" src="https://img.icons8.com/doodle/96/000000/android--v2.png"/>

</div>

<div id="outlet">
        <router-outlet></router-outlet>
</div>

<div id="vote">
        <span>Vote</span><br>
        <img src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png"/>
        <img id="rotate" src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png"/>

</div>

<div id="iconlink">
        Icon's provided by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>



