

<div class="card" id="card">
    <div class="card-header">
      <h2 style="font-weight: bolder;">Welcome</h2>
    </div>
    <div class="card-body" id="body">
      <button  (click)="runTheCode()" [disabled]="runClicked" id="runbtn" type="button" class="btn btn-secondary">{{buttonLabel}}</button>
            <app-typing-text 
              commandLine='System.out.println("Hello word!!!");'
              color="black"
              delayTime=100>
            </app-typing-text>
            
            <div id="matrix">
              <app-matrix></app-matrix>
            </div>
            <div id="screen">
                <app-pc-screen></app-pc-screen>
            </div>
    </div>
  </div>