@import "~bootstrap/dist/css/bootstrap.css";
#screen{
    
    position: relative;
    top:15px;
    margin-left: 40px;
}

#card{
    border-radius: 25px;
}

#body{
    height: 400px;
}

#runbtn{
    position: relative;
    left:320px;
}

#matrix{
    position: relative;
    top: 10px;
    height: 100px;
    width: 400px;
    left: 10px;
    

}